name: CI workflow

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
      repository-projects: write
      id-token: write
    steps:
      # Checkout the repository code
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Install uv
        uses: astral-sh/setup-uv@v2

      # Set up Python environment
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      # Install dependencies
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt 

      # DVC
      - name: Create and Configure Credentials
        env:
          GDRIVE_CREDENTIALS_DATA: ${{ secrets.GDRIVE_CREDENTIALS_DATA }}
        run: |
          printf "%s" "$GDRIVE_CREDENTIALS_DATA" > project4-442608-5ffc36a5828f.json
          
          ABSOLUTE_PATH=$(readlink -f project4-442608-5ffc36a5828f.json)
          echo "Credentials saved to: $ABSOLUTE_PATH"
          
          uv run dvc remote modify --local gdrive_remote gdrive_use_service_account true
          uv run dvc remote modify --local gdrive_remote gdrive_service_account_json_file_path "$ABSOLUTE_PATH"

      - name: DVC Pull Data
        run: |
          uv run dvc pull -v

      - name: Run model tests
        run: |
          uv run python main.py --mode test \
            --data_path data/test \
            --model_path models/cnn_resnet18_freeze_backbone_True_fold_4.pth




