name: CI workflow

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
      repository-projects: write
      id-token: write

    steps:
      # 1. Checkout the repository
      - name: Checkout repository
        uses: actions/checkout@v2

      # 2. Set up Python
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.8'

      # 3. Install dependencies
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      # 4. Create the Credentials File (FIXED: Matches your screenshot name)
      - name: Create credentials file
        env:
          # Your secret name is GDRIVE_CREDENTIALS_DATA, so we use that here
          GDRIVE_CREDENTIALS_DATA: ${{ secrets.GDRIVE_CREDENTIALS_DATA }} 
        run: |
          echo "$GDRIVE_CREDENTIALS_DATA" > project4-442608-5ffc36a5828f.json

      # 5. Configure DVC
      - name: Modify DVC Remote
        run: |
          dvc remote modify --local gdrive_remote gdrive_service_account_json_file_path project4-442608-5ffc36a5828f.json

      # 6. Pull Data
      - name: DVC Pull Data
        run: |
          dvc pull -v


          
      # 7. Run Tests
      - name: Run model tests
        run: |
          python main.py --mode test \
            --data_path data/test \
            --model_path models/cnn_resnet18_freeze_backbone_False.pth